 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normai;
   background: #f1f1f1;
    color: #0f141e;
}

a {
  color: #000;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

a:active{
  color: blue;
}

a:visited{
  color: grey;
}
.contaier {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.info {
  margin-bottom:20px ;
}


.info-text p{
 font-style: italic;
 font-weight: bold;
 color: #89868f;
 margin: 0;   
}

.info-text h4 {
  margin-bottom: 10px;
}

.card{
  border:1px solid black;
  border-radius:20px ;
  padding: 15px 20px;
  margin-bottom: 20px ;
  

}

.card h2 {
  margin-bottom:10hx ;
}

.bg-yelow{
 background: #fff9dc ; 
}

.bg-red {
  background: #ffe5e5;
}

.bg-green {
  background: #e5ffe7;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.list {
  padding: 0 20px ;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:hth-child(2),
.table td:hth-child(3) {
  color: #86898f;
}

